/*
Primary Blue: #21295C
Secondary Blue: #1C7293
Primary Green: #44CF6C
Secondary Green: #A9FDAC
Primary White: #F1FFE7
*/
*, html, body{
	box-sizing: border-box;
}

input, textarea{
	margin: none;
}

body{
	background-color: #1C7293;
	margin: 0;
}

div.container{
	background-color: #21295C;
	width: 85%;
	margin: 0 auto;
	padding: 25px 0;
}
div.page{
	background-color: #A9FDAC;
	height: 450px;
	margin: 0 10%;
	display: flex;
}


div.controls{
	background-color: #A9FDAC;
	min-height: 100px;
	margin: 25px 10% 0;
	padding-top: 10px;
}

button.btn{
	height: 80px;
	margin: 0 20px;
	min-width: 20%;
	background-color: #F1FFE7;
	border: 1px solid #A9FDAC;
	border-radius: 5px;
	display: block;
}

button.one-btn{
	min-width: 55%;
	margin-left: auto;
	margin-right: auto;
}

div.page p, div.page input#charPos{
	text-align: center;
	width: 100%;
	margin: auto;
	display: block;
}

div.page input#charPos{
	background-color: #F1FFE7;
	border-left: none;
	border-right: none;
	min-height: 50px;
	font-size: 1.2em;
}

div.page p span#resourceCoords{
	font-size: 2em;
}
div.page p span#resourceName{
	color: #1C7293;
}